.book-card {
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.book-image img {
    width: 8rem;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
}

.book-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: #1D1D1D;
    max-width: 85%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 0.8rem;
    color: #1D1D1D;
    margin: 0;
}

.book-description {
    font-size: 0.7rem;
    color: #5B5B5B;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.bookmark-btn {
    background: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: #d32f2f;
}

.book-buttons {
    display: flex;
    gap: 1rem;
    margin-top: auto
}

.btn-outline {
    padding: 0.2rem 1rem;
    border: 1px solid #FF3B30;
    background: transparent;
    color: #f44336;
    border-radius: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
}

.btn-solid {
    padding: 0.2rem 1rem;
    background: #FF3B30;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
}

.btn-solid:hover {
    background-color: #B3261E;
}

.btn-outline:hover {
    background-color: #F9DEDC;
}
