.app-container {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 2rem;
    padding-inline: 2.8rem;
    background-color: #FEF7FF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .icon {
    color: #8A8587;
    font-size: 1.6rem;
    margin-inline: .5rem;
}
.page-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #1D1D1D;
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.tab {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #1D1D1D;
    font-weight: 400;
}

.tab.active {
    font-weight: 500;
}

.book-section {
    margin-bottom: 2rem;
}

.section-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    gap: 1.2rem;
}
